.block-image {
  //height: 100%;
  &.limit-width {
    padding: var(--default-padding);
    max-width: 800px;
    margin: 0 auto;
  }
  
  cloudinary-image {
    --image-height: auto;
  }

  .caption {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 2rem;
    font-style: italic;
  }
}