{
    "@context": "https://schema.org/",
    "@type": "Blog",
    "@id": "https://glinka.co/blog",
    "mainEntityOfPage": "https://glinka.co/blog",,
    "name": "Werner Glinka's Blog'",
    "description": "Random Notes to Myself about my projects which include Metalsmith, a static site generator and the use of structured content.",
    "publisher": {
        "@type": "Organization",
        "@id": "https://glinka.co",
        "name": "Werner Glinka",
        "logo": {
            "@type": "ImageObject",
            "@id": "https://glinka.co/assets/images/werner-glinka-logo.png",
            "url": "https://glinka.co/assets/images/werner-glinka-logo.png",
            "width": "1000",
            "height": "100"
        }
    },
    "blogPost": [
        {
            "@type": "BlogPosting",
            "@id": "https://dataliberate.com/2019/05/14/library-metadata-evolution-final-mile/#BlogPosting",
            "mainEntityOfPage": "https://dataliberate.com/2019/05/14/library-metadata-evolution-final-mile/",
            "headline": "Library Metadata Evolution: The Final Mile",
            "name": "Library Metadata Evolution: The Final Mile",
            "description": "When Schema.org arrived on the scene I thought we might have arrived at the point where library metadata  could finally blossom; adding value outside of library systems to help library curated resources become first class citizens, and hence results, in the global web we all inhabit.  But as yet it has not happened.",
            "datePublished": "2019-05-14",
            "dateModified": "2019-05-14",
            "author": {
                "@type": "Person",
                "@id": "https://glinka.co",
                "name": "Werner Glinka"
            },
            "image": {
                "@type": "ImageObject",
                "@id": "https://dataliberate.com/wp-content/uploads/2019/05/Metadata_Evolution_the_Final_Mile.jpg",
                "url": "https://dataliberate.com/wp-content/uploads/2019/05/Metadata_Evolution_the_Final_Mile.jpg",
                "height": "362",
                "width": "388"
            },
            "url": "https://dataliberate.com/2019/05/14/library-metadata-evolution-final-mile/",
            "keywords": [
                "Bibframe2Schema.org",
                "Libraries",
                "Library of Congress"
            ]
        }
    ]
}