<footer>
  <div class="background-image">
    <cloudinary-image 
      base="{{ metadata.site.imagePrefix }}"
      imageId="v1691012716/footer-background_ducwjr.jpg"
      alt=""
    ></cloudinary-image>
  </div>
  <div class="container">
    <p class="copyright">
      © 2023 - Build with Metalsmith
    </p>
  </div>
</footer>