{% from "./partials/icon.njk" import icon %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "sections/head.njk" %}
  </head>

  <body class="{{ bodyClasses }}" >
    <div id="at-top"></div>
    
    {% include "sections/header.njk" %}
    {% include "sections/nav.njk" %}
    
    <main id="swup" class="transition-fade">
        
      {% block body %}
        This is the default contents
      {% endblock %}
        
    </main>
    
    {% include "sections/footer.njk" %}

    <a class="to-top" href="#at-top"><span class="sr-only">Scroll to top</span>{{ icon("arrow-up-circle") }}</a>

    {% include "partials/scripts.njk" %}

  </body>
</html>