name: Scheduled Build

on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Netlify build
        run: curl -X POST -d {} ${{ secrets.NETLIFY_BUILD_HOOK }}
